.contenedor {
    width: 100%;
    height: 100%;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 22px;
}

.opciones {
    display: flex;
    flex-direction: column;
    align-items: center;   
}